# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Allow
!*glfw3.lib
!*glew32s.lib
!*freetype.lib
!*freetyped.lib
!*PhysX_static_64.lib
!*PhysXFoundation_static_64.lib
!*PhysXExtensions_static_64.lib
!*PhysXCommon_static_64.lib
!*PhysXPvdSDK_static_64.lib
!*PhysX_static_64.pdb
!*PhysXFoundation_static_64.pdb
!*PhysXExtensions_static_64.pdb
!*PhysXCommon_static_64.pdb
!*PhysXPvdSDK_static_64.pdb
!*PhysXCooking_static_64.lib
!*PhysXCooking_static_64.pdb
!*PhysXCharacterKinematic_static_64.lib
!*PhysXCharacterKinematic_static_64.pdb
!*libssl.lib
!*libcrypto.lib
!*sqlcipher.lib
!*SQLiteCpp.lib

#Ignore .vs folder and other generated folders
*.vs
*Engine/x64
*FPS/x64
*x64
*FPS/Log.txt
